alias @='echo '

alias sys='sudo systemctl '
alias systatus='sudo systemctl status '
alias sysstart='sudo systemctl start '
alias sysrestart='sudo systemctl restart '
alias sysstop='sudo systemctl stop '
alias sysedit='sudo systemctl --full edit '

alias efstab='sudo nano /etc/fstab'

alias ged='gnome-extensions disable '
alias geh='gnome-extensions --help'
alias gel='gnome-extensions list'
alias geu='gnome-extensions uninstall '
alias src='. ~/.bashrc'
alias ebrc='nano ~/.bashrc'
alias gnome-reset='dconf reset -f /org/gnome/'
alias edi='code $HOME'
alias edai='code $AI'
alias omp=oh-my-posh

alias aptupd='sudo apt update'
alias aptupg='sudo apt upgrade'
alias apti='sudo apt install '
alias aup='sudo apt update && sudo apt upgrade'

# Python
## conda
alias cls="conda env list"
alias cin="conda install "
alias cinfo="conda info "
alias cinfoe="conda info --env"
alias cenvs="conda info --env"
alias cenv="conda info --env | grep '*' | grep -E '\w+$'"
alias cdac="conda deactivate "
alias cac="conda activate "
export CONDA_HOME=/home/dawson/.local/anaconda3

## pip
alias pipi='pip install '
alias pipif='pip install --force '
alias pipiu='pip install --upgrade '
alias pipiuf='pip install --upgrade --force '
alias pipir='pip install -r requirements.txt '
alias pipiru='pip install -r requirements.txt --upgrade '

# Prints the site-package dir where package are stored.
# - pip -V returns => pip 23.1.2 from /home/dawson/.local/lib/python3.10/site-packages/pip
# - grep extracts '/home/dawson/.local/lib/python3.10/site-packages/pip'
# - sed removes '/pip' returning the just the path to the site-package dir
alias pipdir="pip -V | grep -Eo '/(\w|[-./])+' | sed -e 's_/pip__g'"

alias reinstall-lama='CMAKE_ARGS="-DLLAMA_CUBLAS=on" FORCE_CMAKE=1 pip install llama-cpp-python --no-cache-dir'
alias ril=reinstall-lama
# AI
alias vcpkg='/home/dawson/code/projects/ai/vcpkg/vcpkg '

# Phone
alias cdsam='cd /run/user/1000/gvfs/mtp:host=SAMSUNG_SAMSUNG_Android_R58M3182R6F'

n=nautilus


# ##########################

alias ged='gnome-extensions disable '
alias geh='gnome-extensions --help'
alias gel='gnome-extensions list'
alias geu='gnome-extensions uninstall '
alias src='. ~/.bashrc'
alias ebrc='nano ~/.bashrc'
alias gnome-reset='dconf reset -f /org/gnome/'

alias omp=oh-my-posh

alias aptupd='sudo apt update'
alias aptupg='sudo apt upgrade'
alias apti='sudo apt install '

alias s=sudo

alias gpureload="sudo rmmod -vf nvidia_uvm ; sudo modprobe -v nvidia_uvm"
alias reload-gpu=gpureload

################# From Oh My Bash #################
alias ll='ls -lAFh'                         # Preferred 'ls' implementation
alias less='less -FSRXc'                    # Preferred 'less' implementation
alias wget='wget -c'                        # Preferred 'wget' implementation (resume download)
alias c='clear'                             # c:            Clear terminal display
alias path='echo -e ${PATH//:/\\n}'         # path:         Echo all executable Paths
alias show_options='shopt'                  # Show_options: display bash options settings
alias fix_stty='stty sane'                  # fix_stty:     Restore terminal settings when screwed up
alias fix_term='echo -e "\033c"'            # fix_term:     Reset the conosle.  Similar to the reset command
alias cic='bind "set completion-ignore-case on"' # cic:          Make tab-completion case-insensitive
alias src='source ~/.bashrc'                # src:          Reload .bashrc file
####################################################
